{% extends 'index.html' %} 
{% load crispy_forms_tags %} 

{% block title %}
Reassign Complaint 
{% endblock %} 

{% block start %}
<div class="container mt-5">
  <div class="row d-flex justify-content-center py-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card shadow-lg border-0 rounded-4">
          <div class="card-body p-4">
            <h4 class="card-title text-center mb-4">Complaint Form</h4>
            <form method="post">
              {% csrf_token %} {{ form|crispy }}

              <div class="d-grid mt-4">
                <button
                  type="submit"
                  class="btn btn-lg"
                  style="border: 1px solid #800000; color: #800000"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
