* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body, #root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

main {
    flex: 1;
}

footer {
    color: #800000;
    text-align: center;
    padding: 5px;
}
