{% extends 'index.html' %} 
{% load crispy_forms_tags %} 
{% load static %} 

{% block title %} 
Login 
{% endblock %} 

{% block start %}
<link rel="stylesheet" href="{% static 'styles/common.css' %}" />

<div class="loginForm container mt-5">
  <div class="row d-flex justify-content-center p-5">
    {% if messages %} 
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} text-center">{{ message }}</div>
    {% endfor %} 
    {% endif %}
    <div
      class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 border p-3 rounded shadow"
    >
      <form method="post">
        {% csrf_token %} {{form | crispy}}
        <div class="login-link d-grid gap-2 mt-3">
          <button type="submit" class="btn btn-md btn-primary">Login</button>
        </div>
        <hr />
        <div
          class="register-link text-center"
          style="font-family: 'Poppins', sans-serif; font-size: 0.9rem"
        >
          <p>
            Not yet registered?&nbsp;<a
              href="{% url 'register' %}"
              style="text-decoration: none"
              >Register</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
